nav #ul_nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;

  color: white;
  text-decoration: none;
}
header {
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 25px 25px 25px 25px;
  background-color: darksalmon;
}
#s1 {
  font-size: 1100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  text-align: center;
}
h4 {
  text-align: center;
}
#Practicals {
  background-color: ivory;
  text-indent: 5px;
}

table,
th,
td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;

  background-color: darkolivegreen;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px blue 2px 3px 4px red;
}
